<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Registrieren</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
	<nav>
			<div class="logo" OnClick="location.href='/'">
				<h4>Tapf</h4>
			</div>
			<ul class="nav__links">
				<li><a href="livecheck">Live Check</a></li>
				<li><a href="about">About</a></li>
				<li><a href="register">Registrieren</a></li>
				<a class="btn_an" href="login"><button>Anmelden</button></a>
			</ul>
	</nav>
	<header>
		<h1 class="title">Registrieren.</h1>

			<form class="form_register" action="/register" method="POST">
				<div>
					<input id="first_name" type="text" name="first_name" placeholder="*Vorname"><input id="last_name" type="text" name="last_name" placeholder="*Nachname">
				</div>
				<div>
					<input id="street" type="text" name="street" placeholder="*Strasse"><input id="street_no" type="text" name="street_no" placeholder="*Nr.">
				</div>
				<div>
					<input id="zipcode" type="text" name="zipcode" placeholder="*PLZ"><input id="city" type="text" name="city" placeholder="*Stadt">
				</div>
				<div>
					<input id="phone_no" type="text" name="phone_no" placeholder="*Telefon Nr.">
				</div>
				<div>
					<input id="email" type="email" name="email" placeholder="*E-Mail">
				</div>
				<div>
					<input id="password" type="password" name="password" placeholder="*Passwort">
				</div>
				<div>
					<input class="btn_reg" type="submit" value="Registrieren">
				</div>

			</form>
	</header>
	<div class="footer">
  		<p>© T A P F - Smarter Rauchmelder 2021</p>
  	</div>
</body>
</html>