<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Live Check</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<nav>
			<div class="logo" OnClick="location.href='home.html'">
				<h4>Tapf</h4>
			</div>
			<ul class="nav__links">
				<li><a href="livecheck.html">Live Check</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="registrieren.html">Registrieren</a></li>
				<a class="btn_an" href="anmelden.html"><button>Anmelden</button></a>
			</ul>
	</nav>
	<header>
		<h1 class="title">Luftqualität <br>live checken.</h1>
		<h2 class="subtitle">Hier kannst du die Rauch- und Gasmenge <br>live verfolgen.</h2>

	</header>
	<div class="footer">
  		<p>© T A P F - Smarter Rauchmelder 2021</p>
  	</div>
</body>
</html>